mixin person-card(obj)

    .person-card
        .person-card__img-block
            img(src=obj.img, alt=obj.name).person-card__img
        .person-card__content
            h3.person-card__name !{obj.name}
            h4.person-card__position !{obj.position}

            .person-card__contacts
                a(href="#;" title="" target="_blank" rel="noopener noreferrer").person-card__social
                    <svg><use xlink:href="img/sprite.svg#ln"></use></svg>
                a(href="#;" title="" target="_blank" rel="noopener noreferrer").person-card__social
                    <svg><use xlink:href="img/sprite.svg#email"></use></svg>
                //- each link in obj.links
                //-     a(href=(link.url ? link.url : "#;") title="" target="_blank" rel="noopener noreferrer" class=`icon-${link.icon}`).person-card__social